In [ ]:
def double_integer(i):
    return 2 * i

In [3]:
def boolean_to_string(b):
    return str(b)

boolean_to_string(False)

'False'

In [5]:
def past(h, m, s):
    return 1000 * (h * 3600 + m * 60 + s)

past(0, 1, 1)

61000

In [7]:
def zero_fuel(distance_to_pump, mpg, fuel_left):
    return mpg * fuel_left >= distance_to_pump

zero_fuel(100, 50, 1)

False

In [12]:
def invert(lst):
    return [-s for s in lst]

invert([1,2,3,4,5])

[-1, -2, -3, -4, -5]

In [15]:
def square_sum(numbers):
    return sum([n**2 for n in numbers])

square_sum([-1,0,7])

50

In [ ]:
def greet():
    return 'hello world!'

In [19]:
def summation(num):
    return sum([n for n in range(1, num + 1)])

summation(8)

36

In [42]:
def count_positives_sum_negatives(arr):
    if arr is None or len(arr) == 0:
        return []

    positive_count = 0
    negative_sum = 0

    for n in arr:
        if n > 0:
            positive_count += 1
        else:
            negative_sum += n
        
    
    return [positive_count, negative_sum]

count_positives_sum_negatives([0,0,0,0,0,0,0,0,0])

[0, 0]

In [44]:
def maps(a):
    return [2 * n for n in a]

maps([1, 2, 3])

[2, 4, 6]

In [ ]:
def greet(name):
    return f"Hello, {name} how are you doing today?"

In [68]:
from math import sqrt


def find_next_square(sq):
    if sqrt(sq) - int(sqrt(sq)):
        return -1

    return (int(sqrt(sq)) + 1)**2

find_next_square(81)

100

In [66]:
from math import sqrt

sqrt(89) - int(sqrt(89))

0.43398113205660316

In [83]:
def get_middle(s):
    middle = int(len(s) / 2)
    return s[middle - 1: middle + 1] if len(s) % 2 == 0 else s[middle]

get_middle("of")

'of'

In [7]:
def remove_char(s):
    return s[1:-1]

remove_char('country')

'ountr'

In [11]:
def basic_op(operator, value1, value2):
    return eval(f'{value1} {operator} {value2}')


basic_op('*', 4, 7)

28

In [20]:
def reverse_words(text):
    return ' '.join([w[::-1] for w in text.split(' ')])

reverse_words('The quick   brown fox jumps  over the lazy dog.')

'ehT kciuq   nworb xof spmuj  revo eht yzal .god'

In [25]:
def high_and_low(numbers):
    nums = [int(n) for n in numbers.split()]

    return f'{max(nums)} {min(nums)}'


high_and_low("8 3 -5 42 -1 0 0 -9 4 7 4 -4")

'42 -9'

In [29]:
def make_negative(number):
    return -number if number > 0 else number

make_negative(3456)

-3456

In [1]:
def friend(x):
    return [n for n in x if len(n) == 4]

friend(["Ryan", "Kieran", "Mark",])

['Ryan', 'Mark']

In [4]:
def repeat_str(repeat, string):
    return ''.join([string for _ in range(repeat)])

repeat_str(4, 'a')

'aaaa'

In [6]:
def solution(text: str, ending: str):
    return text.endswith(ending)

solution('abc', 'bcg')

False

In [17]:
def get_sum(a, b):
    if a > b:
        (a, b) = (b, a)

    return sum([s for s in range(a, b + 1)])


get_sum(8, 6)

21

In [ ]:
def longest(a1, a2):
    return ''.join(sorted(set(a1 + a2)))

In [28]:
def accum(s):
    return '-'.join([(c * (i + 1)).title() for i, c in enumerate(s.lower())])

accum("cwAt")

'C-Ww-Aaa-Tttt'

In [76]:
def to_jaden_case(string):
    return ' '.join(([f'{w[0].upper()}{w[1:]}' for w in string.lower().split()]))

to_jaden_case('R InY D A')

'R Iny D A'

In [26]:
def are_you_playing_banjo(name):
    if name[0].lower() == 'r':
        return f'{name} plays banjo'

    return f'{name} does not play banjo'


are_you_playing_banjo("martin")

'martin does not play banjo'

In [16]:
def dna_to_rna(dna):
    total = ''
    for c in dna:
        if c == 'T':
            total = total + 'U'
        else:
            total = total + c

    return total

dna_to_rna("GACCGCCGCC")

'GACCGCCGCC'

In [19]:
def DNAtoRNA(dna):
    return dna.replace('T', 'U')

dna_to_rna("TTTTTTTTTTTTTTTT")

'UUUUUUUUUUUUUUUU'

In [22]:
def positive_sum(arr):
    sum = 0
    for n in arr:
        if n > 0:
            sum += n
    
    return sum

positive_sum([-1,2,3,4,-5])

9

In [23]:
def positive_sum(arr):
    return sum(x for x in arr if x > 0)

positive_sum([-1,2,3,4,-5])

9

In [28]:
def simple_multiplication(number):
    if number % 2 == 0:
        return number * 8
    else:
        return number * 9


simple_multiplication(3)

27

In [29]:
def simple_multiplication(number) :
    return number * 9 if number % 2 else number * 8

simple_multiplication(3)

27

In [33]:
def bool_to_word(boolean):
    return 'Yes' if boolean == True else 'No'

bool_to_word(False)

'No'

In [57]:
def xo(s):
    word = s.lower()
    o_count = 0
    x_count = 0

    for c in word:
        if c == 'o':
            o_count += 1
        elif c == 'x':
            x_count += 1
    
    return o_count == x_count


xo('ooxXm')

True

In [58]:
def xo(s):
    s = s.lower()
    return s.count('x') == s.count('o')

xo('ooxXm')

True

In [63]:
def paperwork(n, m):
    return n * m if n > 0 and m > 0 else 0

paperwork(0,5)

0

In [ ]:
^_^ # ^_^

In [69]:
def better_than_average(class_points, your_points):
    return True if (sum(class_points) / len(class_points)) < your_points else False

better_than_average([41, 75, 72, 56, 80, 82, 81, 33], 50)

False

In [72]:
def is_triangle(a, b, c):
    return True if a + b > c and a + c > b and b + c > a else False

is_triangle(3, 1, 2)

False

In [74]:
def minimum(arr):
    return min(arr)

def maximum(arr):
    return max(arr)


maximum([4,6,2,1,9,63,-134,566])

566

In [ ]:
def make_upper_case(s):
    return s.upper()

In [77]:
def litres(time):
    return int(time * 0.5)

litres(1787)

893

In [83]:
def century(year):
    return (int(year // 100) + 1) if year % 100 != 0 else int(year // 100)

century(1900)

19

In [86]:
def sum_array(a):
    return sum(a)

sum_array([1.1, 2.2, 3.3])

6.6

In [95]:
def duplicate_encode(word):
    d = {}
    new_word = ''

    for s in word.lower():
        if s not in d:
            d[s] = 1
        else:
            d[s] += 1
    
    for c in word.lower():
        if d[c] > 1:
            new_word += ')'
        else:
            new_word += '('

    return new_word

duplicate_encode('Success')

')())())'

In [3]:
def binary_array_to_number(arr):
    return sum(n * 2**i for i, n in enumerate(arr[::-1]))

binary_array_to_number([1, 0, 0, 1])

9

In [4]:
def find_average(numbers):
    return sum(numbers) / len(numbers)

find_average([1, 2, 3])

2.0

In [22]:
def find_uniq(arr):
    d = {}

    for s in arr:
        if s not in d:
            d[s] = 1
        else:
            d[s] += 1
    
    for c in arr:
        if d[c] < 2:
            return c


find_uniq([ 0, 0, -2443, 0, 0 ])

-2443

In [48]:
from  math import sqrt


def is_square(n):
    if n < 0:
        return False
    
    return True if int(sqrt(n))**2 == n else False

is_square(81)

True

In [68]:
def lovefunc( flower1, flower2):
    return (flower1 % 2 == 0 and flower2 % 2 != 0) or (flower1 % 2 != 0 and flower2 % 2 == 0)


lovefunc(4,4)

False

In [79]:
def persistence(n):
    c  = 0

    def internal_persistence(num):
        p = 1
        while num != 0:
            d = num % 10
            p = p * d
            num = num // 10

        return p
    
    while n > 9:
        n = internal_persistence(n)
        c += 1
    
    return c
    


persistence(39)

3

In [106]:
def number(bus_stops):
    total = 0
    for arr in bus_stops:
            total = total + arr[0] - arr[1]

    return total

number([[3,0],[9,1],[4,10],[12,2],[6,1],[7,10]])

17

In [ ]:
def number(bus_stops):
    return sum([stop[0] - stop[1] for stop in bus_stops])

In [189]:
from string import punctuation, digits, whitespace, ascii_lowercase

def is_pangram(s: str):

    return len(set((''.join([c for c in s if c not in f'{punctuation}{digits}{whitespace}'])).lower())) == len(ascii_lowercase)

is_pangram("The quick, b11rown fox jumps over the lazy dog!")

True

In [43]:
def descending_order(num):
    return int(''.join(sorted(str(num))[::-1]))

descending_order(123456789)

987654321

In [92]:
def is_valid_walk(walk):
    count_1 = 0
    count_2 = 0
    count_3 = 0
    count_4 = 0

    for word in walk:
        if word == 'n':
            count_1 += 1
        elif word == 's':
            count_2 += 1
        elif word == 'w':
            count_3 += 1
        elif word == 'e':
            count_4 += 1


    return True if len(walk) == 10 and count_1 == count_2 and count_3 == count_4 else False

is_valid_walk(['w','e','w','e','w','e','w','e','w','e','w','e'])

False

In [ ]:
def is_Valid_Walk(walk):
    return len(walk) == 10 and walk.count('n') == walk.count('s') and walk.count('e') == walk.count('w')

In [94]:
def row_sum_odd_numbers(n):
    return n**3

row_sum_odd_numbers(13)

2197

In [31]:
def duplicate_count(text):
    count = 0
    total = 0
    
    for s in set(text.lower()):
        count = 0
        for c in text.lower():
            if s == c:
                count += 1
            
        if count > 1:
            total += 1
            
    
    return total


duplicate_count("Indivisibilities")

2

In [69]:
def series_sum(n):
    total = int()
    x = 1
    
    for _ in range(n):
        total = total + 1 / x
        x += 3

    return  str("%.2f" % total)
    

series_sum(5)

'1.57'

In [72]:
def bmi(weight, height):
    if weight / height**2 <= 18.5:
        return "Underweight"
    if weight / height**2 <= 25:
        return "Normal"
    if weight / height**2 <= 30:
        return "Overweight"
    if weight / height**2 > 30:
        return "Obese"
        

bmi(80, 1.80)

'Normal'

In [74]:
def grow(arr):
    multiplication = 1
    for n in arr:
        multiplication = multiplication * n

    return multiplication

grow([4, 1, 1, 1, 4])

16

In [75]:
def reverse_seq(n):
    x = n
    total =[]

    for _ in range(n):
        total.append(x)
        x -= 1
    
    return total

reverse_seq(5)

[5, 4, 3, 2, 1]

In [105]:
def array_diff(a, b):
    if len(b) == 0:
        return a
    
    total = []
    
    for n in a:
        if n in b:
            continue
        else:
            total.append(n)
    return total

array_diff([1,2,2,2,3],[1, 2])

[3]

In [ ]:
def smash(words):
    return ' '.join(words)

In [123]:
def count_by(x, n):
    y = x
    total = []
    for _ in range(n):
        total.append(x)
        x = x + y
    
    return total

count_by(3, 5)

[3, 6, 9, 12, 15]

In [133]:
def expanded_form(num):
    y = num % 10
    return str(f'{num - y} + {y}')

expanded_form(70304)

'70300 + 4'

In [27]:
def count_sheep(n):
    total = ''
    for x in range(n):
        total = total + f'{x + 1} sheep...'
    
    return total

count_sheep(4)

'1 sheep...2 sheep...3 sheep...4 sheep...'

In [30]:
def open_or_senior(data):
    total = ''
    for arr in data:
        if arr[0] >= 55 and arr[1] > 7:
            total += "Senior "
        else:
            total += "Open "

    return total.split()

open_or_senior([(45, 12),(55,21),(19, -2),(104, 20)])

['Open', 'Senior', 'Open', 'Senior']

In [53]:
def expanded_form(num):
    total = []
    while num != 0:
        x = num % 10
        num = num // 10
        total.append(x)

    return ' + '.join([str(v * 10**(len(total) - 1 - i)) for i, v in enumerate(total[::-1]) if v != 0])

expanded_form(70304)

'70000 + 300 + 4'

In [59]:
from string import ascii_lowercase


def high(x):
    arr = x.split()
    sum = 0
    max = 0
    result = ''

    for word in arr:
        for c in word:
            sum = sum + ascii_lowercase.find(c) + 1

        if max < sum:
            max = sum
            result = word
        sum = 0
    
    return result

high('man i need a taxi up to ubud')

'taxi'